In [1]:
import pandas as pd
import numpy as np

# create a sample dataframe with multiple index
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
tuples = list(zip(*arrays))
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame({'value': np.random.randint(0, 100, len(index))}, index=index)

In [2]:
df

              value
first second
bar   one        80
      two        34
baz   one        61
      two        17
foo   one        10
      two        96
qux   one        96
      two        41

In [3]:
# create a column to represent rolling average for each 'first' index
window_size = 2
df['rolling_avg'] = df.groupby('first')['value'].rolling(window_size, min_periods=1).mean().values

# create a column to represent rolling sum of every other value for each 'first' index
window_size = 3
df['rolling_sum'] = df.groupby('first')['value'].rolling(window_size, min_periods=1).apply(
    lambda x: np.sum(x[::2])).values

# create a column to represent rolling max of every 3rd value for each 'first' index
window_size = 4
df['rolling_max'] = df.groupby('first')['value'].rolling(window_size, min_periods=1).apply(
    lambda x: np.max(x[::3])).values

df

              value  rolling_avg  rolling_sum  rolling_max
first second
bar   one        80         80.0         80.0         80.0
      two        34         57.0         80.0         80.0
baz   one        61         61.0         61.0         61.0
      two        17         39.0         61.0         61.0
foo   one        10         10.0         10.0         10.0
      two        96         53.0         10.0         10.0
qux   one        96         96.0         96.0         96.0
      two        41         68.5         96.0         96.0